body {
    background-color: #647AF5;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#main-square {
    margin: 48px 0 0 0;
    width: 850px;
    height: 543px;
    background-color: rgba(255, 255, 255, .5);
    position: static;
    margin-left: auto;
    margin-right: auto;
    border-radius: 58px;
}

#greetings-square {
    background-color: #63A6F4;
    width: 50%;
    height: 100%;
    border-radius: 58px 0 0 58px;
}

#signup-square {
    background-color: #D9D9D9;
    position: relative;
    width: 40%;
    height: 85%;
    border-radius: 58px;
    bottom: 95.8%;
    left: 55%;
}

#greetings-square h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    display: table-caption;
    margin: 90% 0 0 50%;
    letter-spacing: 0.1px;
}

#greetings-square h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: table-caption;
    padding-left: 50%;
    margin-right: -70%;
    letter-spacing: 0.1px;
}

#signup-square h3 {
    color: #40ADCC;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 0 0;
    text-align: center;
}

#signup-square p {
    color: #40ADCC;
    font-size: 15px;
    font-weight: normal;
    margin: 5px 0 0 0;
    text-align: center;
}