body {
    background-color: #647AF5;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#main-square {
    margin: 48px 0 0 0;
    width: 850px;
    height: 543px;
    background-color: rgba(255, 255, 255, .5);
    position: static;
    margin-left: auto;
    margin-right: auto;
    border-radius: 58px;
}

#greetings-square {
    background-color: #63A6F4;
    width: 50%;
    height: 100%;
    border-radius: 58px 0 0 58px;
}

.container {
    display: flex;
    flex-direction: column;
}

#signup-square {
    background-color: #D9D9D9;
    position: relative;
    width: 40%;
    height: 85%;
    border-radius: 58px;
    bottom: 92.8%;
    left: 55%;
}

#greetings-square h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    display: table-caption;
    margin: 90% 0 0 50%;
    letter-spacing: 0.1px;
}

#greetings-square h2 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: table-caption;
    padding-left: 50%;
    margin-right: -70%;
    letter-spacing: 0.1px;
}

#signup-square h3 {
    color: #40ADCC;
    font-size: 35px;
    font-weight: bold;
    margin: 40px 0 0 0;
    text-align: center;
}

#signup-square p {
    color: #40ADCC;
    font-size: 15px;
    font-weight: normal;
    margin: 5px 0 0 0;
    text-align: center;
    position: relative;
}

#signup-square form {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -18px;
}

.signup-forms .forms-input {
    align-self: center;
    margin-bottom: 18px;
    width: 55.79%;
    height: 40px;
    border-radius: 10px;
    border: 0;
}

input[type="text"].forms-input {
    position: relative;
    padding-left: 18%;
}

input[type="email"].forms-input {
    position: relative;
    padding-left: 18%;
}

input[type="password"].forms-input {
    position: relative;
    padding-left: 18%;
}

input[type="button"].forms-input {
    border-radius: 58px;
    width: 254px;
    position: relative;
    top: 18px;
    background-color: #64D5F5;
    color: white;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

img#user-icon {
    width: 25px;
    position: relative;
    bottom: 58.5%;
    left: 18%
}

img#email-icon {
    width: 25px;
    position: relative;
    bottom: 51%;
    left: 18%
}

img#password-icon {
    width: 25px;
    position: relative;
    bottom: 43.5%;
    left: 18%
}

img#confirmPassword-icon {
    width: 25px;
    position: relative;
    bottom: 36%;
    left: 18%
}

img#vector-1 {
    height: 40%;
    position: relative;
    top: -70%;
    right: -20.2%;
}

img#vector-2 {
    height: 20%;
    position: relative;
    top: -30.6%;
}

img#vector-3 {
    height: 14%;
    position: relative;
    top: -102%;
    left: -23%;
}

img#vector-4 {
    right: -15%;
    height: 7%;
    position: relative;
    top: -44%;
}

img#vector-5 {
    right: -21.3%;
    height: 8%;
    position: relative;
    top: -63%;
}